{% extends 'base.html.twig' %}

{% block title %}Mes horaires{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-6">Mes horaires</h1>

        <table class="table table-stripedb w-auto">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ schedule.day}}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ schedule.openMorning }}</td>
                </tr>
                <tr>
                    <th>Numéro de Téléphone</th>
                    <td>{{ schedule.closeMorning }}</td>
                </tr>
                <tr>
                    <th>Photo </th>
                    <td>{{ schedule.openAfternoon}}</td>
                </tr>
                <tr>
                    <th>Distance de livraiosn</th>
                    <td>{{ schedule.closeAfternoon }}</td>
                </tr>
                <tr>
            </tbody>
        </table>

        <a href="{{ path('app_schedule_index', {'id': schedule.bakery.id}) }}"><button type="button" class="btn btn-secondary">Retour à la liste</button></a>

        <a href="{{ path('app_schedule_show', {'id': schedule.id}) }}"><button type="button" class="btn btn-secondary">Modifier</button></a>
    </div>
{% endblock %}

