{% extends 'base.html.twig' %}

{% block title %}Liste de mes boulangeries{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-6">Liste de mes boulangeries</h1>

        <table class="table table-stripedb w-auto">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Numéro de téléphone</th>
                    <th>Photo</th>
                    <th>Distance de livraison max</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for bakery in bakeries %}
                <tr>
                    <td>{{ bakery.id}}</td>
                    <td>{{ bakery.name }}</td>
                    <td>{{ bakery.adress }}</td>
                    <td>{{ bakery.phone }}</td>
                    <td>{{ bakery.picture }}</td>
                    <td>{{ bakery.distance }}</td>
                    <td>
                        <a href="{{ path('app_back_bakery_show', {'id': bakery.id}) }}">Afficher</a>
                        <a href="{{ path('app_back_bakery_edit', {'id': bakery.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Aucune Boulangerie</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_back_bakery_new', {'id': user.id}) }}">Ajouter une boulangerie</a>
    </div>
{% endblock %}
