{% extends 'base.html.twig' %}

{% block title %}Bakery index{% endblock %}

{% block body %}
    <h1>Bakery index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adress</th>
                <th>Phone</th>
                <th>Picture</th>
                <th>Distance</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bakery in bakeries %}
            <tr>
                <td>{{ bakery.id }}</td>
                <td>{{ bakery.name }}</td>
                <td>{{ bakery.adress }}</td>
                <td>{{ bakery.phone }}</td>
                <td>{{ bakery.picture }}</td>
                <td>{{ bakery.distance }}</td>
                <td>{{ bakery.createdAt ? bakery.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bakery.updatedAt ? bakery.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_bakery_show', {'id': bakery.id}) }}">show</a>
                    <a href="{{ path('app_back_bakery_edit', {'id': bakery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_bakery_new') }}">Create new</a>
{% endblock %}
