{% extends 'base.html.twig' %}

{% block title %}Ma boulangerie{% endblock %}

{% block body %}
    <h1>Bakery</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bakery.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bakery.name }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ bakery.adress }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ bakery.phone }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ bakery.picture }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ bakery.distance }}</td>
            </tr>
            <tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_bakery_index', {'id': bakery.user.id}) }}">Retour a la liste</a>

    <a href="{{ path('app_back_bakery_edit', {'id': bakery.id}) }}">edit</a>

    {{ include('back/bakery/_delete_form.html.twig') }}
{% endblock %}
