{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-6">Liste des produits</h1>

        <div class="table-responsive">
            <table  class="table table-stripedb w-auto">
                <thead>
                    <tr>
                        <th>Nom du produit</th>
                        <th>Prix</th>
                        <th>Stock du produit</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.stock }}</td>
                        <td>
                            <a href="{{ path('app_back_product_show', {'id': product.id}) }}"><button type="button" class="btn btn-secondary">Afficher</button></a>
                            <a href="{{ path('app_back_product_edit', {'id': product.id}) }}"><button type="button" class="btn btn-secondary">Modifier</button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Produits non trouvés</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('app_back_product_new', {'id': bakery.id}) }}"><button type="button" class="btn btn-secondary">Ajouter un produit</button></a>
    </div>
{% endblock %}
