{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <h1>Liste des commandes</h1>

    {# {{ include('_flash_messages.html.twig') }} #}

    <table class="table">
        <thead>
            <tr>
                <th>N de commande</th>
                <th>Produits</th>
                <th>Statut</th>
                <th>Livraison</th>
                <th>Schedule</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                {# <td>{% for product in order.products %}{{product}}{% endfor %}</td> #}
                {# |u.truncate(30, '...', false) #}
                <td>Produits</td>
                {# {{dump(order)}} #}

                <td>{% if order.status == '1' %}En cours{% endif %}</td>
                <td>{% if order.delivery == '1' %}A livrer{% endif %}</td>
            
                <td>{{ order.schedule|format_datetime('short', 'short', locale='fr') }}</td>
                <td>
                    <a href="#">show</a>
                    {# {{ path('app_back_order_show', {'id': order.id}) }} #}

                    <a href="#">archive</a>
                    {# {{ path('app_back_order_archive', {'id': order.id}) }} #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
