{% extends 'base.html.twig' %}

{% block title %}Fiche de la commande{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-6">Fiche de la commande numéro {{ order.id }}</h1>

        <div class="table-responsive">
            <table class="table table-stripedb w-auto">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Prix total</th>
                    </tr>
                </thead>
                <tbody>
                
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.priceSum }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>Date de livraison : {{ order.schedule|format_datetime('short', 'short', locale='fr') }}</p>
            <p>Prix : {{ order.price }} €</p>
            <p>Status : {% if order.status == '1' %}
                            En cours
                        {% else %}
                            Fini
                        {% endif %} </p>
            <p>Livraison :  {% if order.status == '1' and order.delivery == '1' %}
                                A livrer
                            {% elseif order.status == '1' and order.delivery == '0' %}
                                A récupérer
                            {% endif %} </p>
        </div>

       <a href="{{ path('home', {'id': bakery.id}) }}"><button type="button" class="btn btn-secondary">Retour à la liste</button></a>
    </div>
    {% endblock %}