    <!-- Nav -->
<nav class="navbar  navbar-light bg-light"  style="background-color: #2887AC;">
    <div class="container-fluid">
        <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="{{ asset('/images/bread-drop.png') }}" height="80" alt="Logo BreadDrop">
            <span class="header-logo__title">Bread Drop</span>
        </a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{# { {{ path('app_back_bakery_index', {'id': app.user.id})}} } #}"><i class=""></i> Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{# { { {{ path('app_schedule_index', {'id': app.user.id}) }} } } #}"><i class=""></i> Horaires</a>
                </li>
            </ul>44

        </div>
    </div>
</nav>

        {# le user est-il connecté ? #}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {# connecté #}
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                <span>{{ app.user.email }}</span>
                <i class="bi bi-person-square"></i>
            </a>
            <ul class="dropdown-menu">
                <li><h6 class="dropdown-header">
                    {% if is_granted('ROLE_ADMIN') %}
                    Administrateur
                    {% elseif is_granted('ROLE_MANAGER') %}
                    Gestionnaire
                    {% elseif is_granted('ROLE_USER') %}
                    Utilisateur
                    {% endif %}
                </h6></li>

                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </li>
    </ul>
    {% else %}
    {# non connecté #}
<a href="{{ path('app_login') }}" class="btn btn-danger me-2">Connexion</a>
{% endif %}